<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de películas</title>
</head>
<body>
    <h1>Listado de Películas</h1>
    <ul>
        <% for (let i = 0; i < moviesAll.length; i++) {  %>
        <li>
            <a href="/movies/detail/<%= moviesAll[i].id %>"><%= moviesAll[i].title %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>