<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas nuevas</title>
</head>
<body>
    <h1>Películas nuevas</h1>
    <ul>
        <% for (let i = 0; i < newMovies.length; i++) {  %>
        <li>
            <a href="/movies/detail/<%= newMovies[i].id %>"><%= newMovies[i].title %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>