<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar película</title>
</head>
<body>
    <h1>Película</h1>
    <ul>
        <% for (let i = 0; i < searchResults.length; i++) {  %>
        <li>
            <a href="/movies/detail/<%= searchResults[i].id %>"><%= searchResults[i].title %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>